.project-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}
.project-title{
    max-width: 1200px;
    margin: 2em 10em;
    font-size: var(--fs-xll);
    font-family: var(--ff-lato);
}
.project-divider{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.description-part{
    width: 400px;
    display: flex;
    flex-direction: column;
    /* a toucher plus tard - zone pour creer scroll bar*/
}
.card {
    background: rgba(54, 54, 54, 0.87);
    background-image: url(../img/noise.png);
    color: #F4F4F4;
    padding: 1.5em;
    box-shadow: 20px 10px 10px -2px rgba(0, 0, 0, 0.25);
}
.card .description {
    display: none;
}
.card:not(.active) {
    border-radius: 0px;
    box-shadow: none;
    transition: 0.1s ease-in-out;
}
.card:not(.active) .title-head{
    font-size: var(--fs-ll);
    font-family: var(--ff-lato);

}
.card, .active .description {
    display: block;
    border-radius: 3px;
}
.active {
    margin-bottom: 1em;
    background: rgb(54, 54, 54);
}
.title-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--fs-xll);
    font-family: var(--ff-heading);
}
.reducer:hover{
    color: rgb(224, 247, 161);
    cursor: pointer;
}
.tags{
    display: flex;
    gap: 0.5em;
}
.tag-card{
    margin-top: 1em;
    background-color: #F4F4F4;
    color: rgb(54, 54, 54);
    padding: 0.2em 0.5em;
    border-radius: 5px;
    font-size: var(--fs-s);
    font-family: var(--ff-body);
    cursor: default;
}
.tag-card:hover{
    background-color: rgb(224, 247, 161);
    scale: 0.98;
}
.project-description{
    padding-right: 1em;
}
.link-access{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link-site{
    text-decoration: none;
    color: #F4F4F4;
    font-size: var(--fs-ll);
    font-family: var(--ff-heading);
}
.link-site:hover {
    text-decoration: underline;
    color: rgb(224, 247, 161);
}
.link-site:active {
    text-decoration: underline;
    color: rgb(129, 143, 92);
}

.gallery-part {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.site-card {
    width: 650px;
    min-height: 350px;
    position: absolute;
    background-color: rgb(141, 93, 93);
    border-radius: 3px;
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 49px 23px 26px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(30px);
    z-index: -1;
    scale: 0.98;
    filter: blur(1px);
    transition: transform 0.3s ease;
  }
.site-card.active {
    transform: none;
    filter: blur(0);
    z-index: 1;
}
.site-card.previous {
    transform: translateY(30px);
  }
.site-title {
    width: 100%;
    background-color: #3C3C3C;
    color: #F4F4F4;
    text-align: center;
    padding: 0.2em 0;
    font-size: var(--fs-s);
    font-family: var(--ff-lato);
    z-index: 2;
}
  .site-card:nth-child(1) {
    transform: translate(40px, 40px);
  }
  .site-card:nth-child(2) {
    transform: translate(30px, 30px);
  }
  
  .site-card:nth-child(3) {
    transform: translate(20px, 20px);
  }
  
  .site-card:nth-child(4) {
    transform: translate(10px, 10px);
  }
  .site-card.active {
    transform: translate(0, 0);
  }
.site-img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
}
.site-card:hover .site-img {
    scale: 1.05;
    transition: 1s ease-in-out;
}

@media(max-width:1200px) {
    .project-divider{
        flex-direction: column-reverse;
        gap: 0em;
        justify-content: center;
        align-items: center;
        margin-bottom: 10em;
    }
    .gallery-part {
        width: 700px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}
@media(max-width:800px) {
    .project-title{
        margin: 2em 2em;
    }
    .project-divider{
        width: 100%;
    }
    .gallery-part {
        width: 100%;
        height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 7em;
    }
    .site-card {
        width: 100%;
        min-height: 250px;
        position: absolute;

      }
      .site-card:nth-child(1) {
        transform: translate(0px, 0px);
      }
      .site-card:nth-child(2) {
        transform: translate(0px, 0px);
      }
      
      .site-card:nth-child(3) {
        transform: translate(0px, 0px);
      }
      
      .site-card:nth-child(4) {
        transform: translate(0px, 0px);
      }
}
@media(max-width:550px) {
    .project-title{
        margin: 2em 2em;
    }
    .gallery-part {
        display: none;
    }
    .site-card {
        width: 100%;
        min-height: min-content;
        position: absolute;
      }
    .description-part{
        width: auto;
        
        display: flex;
        flex-direction: column;
        /* a toucher plus tard - zone pour creer scroll bar*/
    }
    
}