.head{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.head-title {
    font-size: var(--fs-xl);
    font-family: var(--ff-heading);
    text-decoration: underline;
    text-decoration-color: #D8C67A;
    text-decoration-thickness: 4px;
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    align-items: center;
}
.link {
    font-size: var(--fs-l);
    font-family: var(--ff-heading);
    list-style: none;
}
.link:hover{
    color: #D8C67A;
    cursor: pointer;
}
.external-link{
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.contact-me{
    background-color: #D8C67A;
    font-size: var(--fs-s);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes tilt {
    0%, 100% { transform: translateX(0) rotate(0deg); }
    20% { transform: translateX(-1px) rotate(-1deg); }
    40% { transform: translateX(1px) rotate(1deg); }
    60% { transform: translateX(-1px) rotate(-1deg); }
    80% { transform: translateX(1px) rotate(1deg); }
}

.contact-me:hover{
    color: rgb(24, 24, 24);
    animation: tilt 0.3s ease-in-out;
    cursor: pointer;
}
@media(max-width:600px) {
    .head {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 1em;
    }
    .head-title {
        margin-bottom: 0.2em;
    }
    .nav{
        justify-content: center;
        gap: 3em;
        padding: 0;
    }
    .portable-none{
        display: none;
    }
}